<h2>Game Details</h2>

<%= render 'game' %>

<%= link_to 'Edit this game', edit_game_path(@game) %>
<%= link_to 'Delete', [@game], method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back to developer' , @developer %>